.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  align-self: center;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.footer {
  font-size: 0.8rem;
  color: #c7c7c7;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.appName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.agro, .milho {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  border-radius: 10px;
}

.agro {
  color: #555;
  font-weight: 300;
}

.milho {
  color: #ebad04;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.title {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #555;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.subtitle {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #555;
  margin-top: 4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.resultbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem;
}


.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 400px;
}

.modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.2);
  backdrop-filter: blur(3px);
}

.modal_result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_unit {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
}

.close_button {
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(248, 3, 3);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.close_button:hover {
  background-color: #dd0000;
}

.grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.label {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  flex-direction: column;
  display: block;
  margin-bottom: 0.5rem;
}

.label_warning {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #dd0000;
  text-align: center;
  margin-bottom: 0.5rem;
}

.input[type='number'] {
  width: 100%;
  padding: 0.6rem 0.6rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.button[type='submit'] {
  padding: 12px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: hsla(160, 100%, 37%, 1);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button[type="submit"]:hover {
  background-color: #4caf50;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}